<div id="sidebar-wrapper">
    <div class="sidebar-brand">
        <a href="/home">Home</a>
    </div>

    <ul class="sidebar-nav">
        <img src="http://placehold.it/100x100" alt="" class="img-responsive img-circle profile_img">
        <div class="profile_info">
            <span>Welcome,</span>
            <h2><%= user.fullname %></h2>
        </div>
        
        <li><a href="/home"><i class="fa fa-home"></i>Home</a></li>
        <li><a href=""><i class="fa fa-building-o"></i>Companies</a></li>
        <li><a href=""><i class="fa fa-search"></i>Company Search </a></li>
        <li><a href=""><i class="fa fa-bars"></i>LeaderBoard</a></li>

    </ul>
</div>