
<% layout('layout') %>


<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <!--<h1><a href="/">Node - Express</a></h1>-->
    </div>
    <br><br>

    <div class="col-md-offset-4">
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-lg">
            <i class="fa fa-facebook"></i> Sign up with Facebook
        </a>
    </div><br>


    <div class="text-center reg_msg">
        <h2 class="fancy"><span><%= (title) ? title : '' %></span></h2>
    </div>
    <p class="text-center">Please enter your email. An a password reset link will be sent.</p>

    <div class="row signup">

        <% if(hasErrors) {%>
            <% for(var i =0; i<messages.length; i++) {%>
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">
                        &times;
                    </a>
                    <%= messages[i] %>
                </div>
            <% } %>
        <% } %>


        <% if(noErrors) {%>
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">
                    &times;
                </a>
                <%= info %>
            </div>
        <% } %>


        <form method="POST" action="/forgot">


            <div class="form-group input_group">
                <input id="email" class="form-control" name="email" type="text" autocomplete="on" placeholder="EMAIL" style="margin-bottom:20px;">
            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="form-control btn btn-primary" name="submit">
            </div>

        </form>

        <div>
            <h4 class="pull-left">Don't have an account? <a href="/signup">Sign Up</a></h4>
            <h4 class="pull-right"><a href="/login">Login</a></h4>
        </div>


    </div>
</div>
