
<% layout('layout') %>


<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <!--<h1><a href="/">Node - Express</a></h1>-->
    </div>
    <br><br>

    <div class="col-md-offset-4">
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-lg">
            <i class="fa fa-facebook"></i> Sign up with Facebook
        </a>
    </div><br>


    <div class="text-center reg_msg">
        <h2 class="fancy"><span><%= (title) ? title : '' %></span></h2>
    </div><br>

    <div class="row signup">

        <% if(hasErrors) {%>
            <% for(var i =0; i<messages.length; i++) {%>
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">
                        &times;
                    </a>
                    <%= messages[i] %>
                </div>
            <% } %>
        <% } %>

        <% if(noErrors) {%>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">
                    &times;
                </a>
                <%= success %>
            </div>
        <% } %>

        <form method="POST">

            <div class="form-group input_group">
                <input id="password" class="form-control" name="password" type="password" placeholder="PASSWORD" style="margin-bottom:20px;">
            </div>

            <div class="form-group input_group">
                <input id="cpassword" class="form-control" name="cpassword" type="password" placeholder="CONFIRM PASSWORD" style="margin-bottom:20px;">
            </div>


            <div class="form-group">
                <input type="submit" id="login" value="Reset Password" class="form-control btn btn-primary" name="reset" style="">
            </div>

        </form>

        <div>
            <h4 class="">Already reset your password?<a href="/login"> Login</a></h4>
        </div>


    </div>
</div>
