
<% layout('layout') %>


<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <!--<h1><a href="/">Node - Express</a></h1>-->
    </div>
    <br><br>

    <div class="col-md-offset-4">
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-lg">
            <i class="fa fa-facebook"></i> Sign up with Facebook
        </a>
    </div><br>


    <div class="text-center reg_msg">
        <h2 class="fancy"><span>SIGN UP</span></h2>
    </div>

    <div class="row signup">

        <% if(hasErrors) {%>
            <% for(var i =0; i<messages.length; i++) {%>
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">
                        &times;
                    </a>
                    <%= messages[i] %>
                </div>
            <% } %>
        <% } %>

        <form method="POST" action="/signup">


            <div class="form-group input_group">
                <input id="fullname" class="form-control" name="fullname" type="text" autocomplete="on" placeholder="FULLNAME" style="margin-top: 50px; margin-bottom:20px;" >
            </div>


            <div class="form-group input_group">
                <input id="email" class="form-control" name="email" type="text" autocomplete="on" placeholder="EMAIL" style="margin-bottom:20px;">
            </div>

            <div class="form-group input_group">
                <input id="password" class="form-control" name="password" type="password" placeholder="PASSWORD" style="margin-bottom:20px;">
            </div>


            <div class="form-group">
                <input type="submit" id="submit" value="SIGN UP" class="form-control btn btn-primary" name="submit" style="">
            </div>

        </form>

        <div>
            <h4>Already have an account? <a href="/login">Login</a></h4>
        </div>


    </div>
</div>
