<% layout('layout2') %>

<div id="wrapper">

    <% include ../partials/sidebar %>

    <div id="page-content-wrapper">


        <% include ../partials/navbar %>


        <div class="container-fluid main_body">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            <div class="ul_links">
                <ul>
                    <li><a href="/home">Home</a></li> |
                    <li><a href="">Company</a></li> |
                    <li><a href="">Register Company</a></li>
                </ul>
            </div>
            <br>
            <div class="bodyDiv">
                <% if(noErrors) {%>
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">
                        &times;
                    </a>
                    <%= success %>
                </div>
                <% } %>
                <h4>Register Company</h4>
                <form method="post" enctype="multipart/form-data" id="form">
                    <div class="form-group">
                        <label for="">Company Name</label>
                        <span id="errorMsg1"></span>
                        <input type="text" class="form-control" id="name" name="name" style="margin-bottom: 20px">
                    </div>
                    <div class="form-group">
                        <label for="">Address</label>
                        <span id="errorMsg2"></span>
                        <input type="text" class="form-control" id="address" name="address" style="margin-bottom: 20px">
                    </div>
                    <div class="form-group">
                        <label for="">City</label>
                        <span id="errorMsg3"></span>
                        <input type="text" class="form-control" id="city" name="city" style="margin-bottom: 20px">
                    </div>
                    <div class="form-group">
                        <label for="">Country</label>
                        <span id="errorMsg4"></span>
                        <input type="text" class="form-control" id="country" name="country" style="margin-bottom: 20px">
                    </div>
                    <div class="form-group">
                        <label for="">Sector</label>
                        <span id="errorMsg5"></span>
                        <input type="text" class="form-control" id="sector" name="sector" style="margin-bottom: 20px">
                    </div>
                    <div class="form-group">
                        <label for="">Website</label>
                        <span id="errorMsg6"></span>
                        <input type="text" class="form-control" id="website" name="website" style="margin-bottom: 20px">
                    </div>
                    <div class="form-group">
                        <label for="">Company Image</label>
                        <button class="btn btn-lg" type="button" data-toggle="modal" data-target="#file">Add file</button>
                        <span id="completed"></span>
                        <div class="modal" id="file" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" type="button" id="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar"></div>
                                            </div>
                                            <button class="btn btn-lg upload-btn" type="button">Upload file</button>
                                            <input style="display: none" type="file" class="form-control" name="upload" id="upload-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-primary" id="register" name="register" style="margin-bottom: 20px">
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>



<script type="text/javascript" src="/js/validate.js"></script>